colorama==0.4.6
psutil==7.1.0
aiosignal==1.4.0
ipykernel==7.0.1
tzdata==2025.2
rich-toolkit==0.15.1
rignore==0.7.0
jupyter_core==5.9.1
pyext==0.7
pybind11==3.0.1
rpds-py==0.27.1
nvidia-nccl-cu12==2.21.5
opentelemetry-sdk==1.37.0
importlib_metadata==8.7.0
importlib_metadata==8.0.0
pillow==11.3.0
tensorboard==2.20.0
sniffio==1.3.1
typing-inspection==0.4.2
word2number==1.1
outlines_core==0.1.26
referencing==0.37.0
blinker==1.9.0
diskcache==5.6.3
aniso8601==10.0.1
async-timeout==5.0.1
opentelemetry-semantic-conventions-ai==0.4.13
GitPython==3.1.45
codetiming==1.4.0
pexpect==4.9.0
peft==0.17.1
smmap==5.0.2
pyasn1_modules==0.4.2
nest_asyncio==1.6.0
py-cpuinfo==9.0.0
transformers==4.51.1
joblib==1.5.2
triton==3.2.0
xformers==0.0.29.post2
nltk==3.9.2
Flask-RESTful==0.3.10
torch_memory_saver==0.0.8
colorful==0.5.7
pyarrow==21.0.0
nvidia-cusparse-cu12==12.3.1.170
propcache==0.4.1
pycountry==24.6.1
blake3==1.0.7
identify==2.6.15
requests==2.32.5
wcwidth==0.2.14
annotated-types==0.7.0
torchvision==0.21.0
httptools==0.7.1
opentelemetry-exporter-otlp==1.26.0
tensorstore==0.1.78
aiohappyeyeballs==2.6.1
prompt_toolkit==3.0.52
cachetools==6.2.1
lm-format-enforcer==0.10.12
nvidia-nvtx-cu12==12.4.127
platformdirs==4.5.0
jupyter_client==8.6.3
nvidia-cublas-cu12==12.4.5.8
wrapt==1.17.3
pre_commit==4.3.0
charset-normalizer==3.4.3
latex2sympy2==1.9.1
urllib3==2.5.0
Jinja2==3.1.6
fasteners==0.20
einops==0.8.1
loguru==0.7.3
rich==14.2.0
fastuuid==0.13.5
flash_attn==2.7.4.post1
mistral_common==1.8.5
jsonschema-specifications==2025.9.1
prometheus-fastapi-instrumentator==7.1.0
python-dotenv==1.1.1
torchprofile==0.0.4
torchaudio==2.6.0
opencensus-context==0.1.3
antlr4-python3-runtime==4.7.2
hf-xet==1.1.10
multiprocess==0.70.16
accelerate==1.10.1
uvloop==0.21.0
markdown-it-py==4.0.0
shellingham==1.5.4
h11==0.16.0
wandb==0.22.2
fastapi==0.119.0
cfgv==3.4.0
pylatexenc==2.10
torchao==0.14.0
pytest-random-order==1.2.0
httpcore==1.0.9
nvidia-cuda-runtime-cu12==12.4.127
opentelemetry-exporter-otlp-proto-grpc==1.26.0
opentelemetry-exporter-prometheus==0.58b0
sentencepiece==0.2.1
google-auth==2.41.1
tokenizers==0.21.4
datasets==4.2.0
cloudpickle==3.1.1
cuda-python==13.0.2
torch==2.6.0
partial-json-parser==0.2.1.1.post6
nvidia-cufft-cu12==11.2.1.3
nvidia-cuda-nvrtc-cu12==12.4.127
Deprecated==1.2.18
nvidia-curand-cu12==10.3.5.147
opentelemetry-exporter-otlp-proto-common==1.26.0
wheel==0.45.1
av==16.0.1
opentelemetry-exporter-otlp-proto-http==1.26.0
prometheus_client==0.23.1
nvidia-cusolver-cu12==11.6.1.9
itsdangerous==2.2.0
timeout-decorator==0.5.0
depyf==0.18.0
zarr==2.18.3
debugpy==1.8.16
debugpy==1.8.17
soundfile==0.13.1
comm==0.2.3
docstring_parser==0.17.0
rsa==4.9.1
numcodecs==0.13.1
six==1.17.0
opencv-python==4.12.0.88
distlib==0.4.0
yarl==1.22.0
tensorboard-data-server==0.7.2
setproctitle==1.3.7
cuda-bindings==13.0.2
orjson==3.11.3
httpx==0.28.1
jedi==0.19.2
astor==0.8.1
click==8.2.1
googleapis-common-protos==1.70.0
vllm==0.8.5.post1
pickleshare==0.7.5
sgl-kernel==0.1.0
proto-plus==1.26.1
python-multipart==0.0.20
anyio==4.11.0
pytest==8.4.2
opencv-fixer==0.2.5
sglang==0.4.6.post1
PuLP==3.3.0
dill==0.4.0
ninja==1.13.0
MarkupSafe==3.0.3
nvidia-cudnn-cu12==9.8.0.87
setuptools==80.9.0
flashinfer-python==0.2.2.post1+cu124torch2.6
tiktoken==0.12.0
opentelemetry-api==1.37.0
nanobind==2.9.2
psutil==7.0.0
psutil==7.1.0
pytest-mock==3.15.1
py-spy==0.4.1
multidict==6.7.0
stack_data==0.6.3
megatron-core==0.12.0rc3
iniconfig==2.1.0
hf_transfer==0.1.9
interegular==0.3.3
gitdb==4.0.12
websockets==15.0.1
jsonschema==4.25.1
pycparser==2.23
exceptiongroup==1.3.0
outlines==0.1.11
liger_kernel==0.6.2
protobuf==4.25.8
dnspython==2.8.0
scipy==1.15.3
typer==0.19.2
pytest-cov==7.0.0
parso==0.8.5
pandas==2.3.3
tensordict==0.6.2
coverage==7.10.7
opentelemetry-semantic-conventions==0.58b0
pydantic-extra-types==2.10.6
nvitop==1.5.3
msgpack==1.1.2
virtualenv==20.35.3
tornado==6.5.1
aiohttp==3.13.0
pyasn1==0.6.1
optree==0.17.0
nvidia-modelopt==0.37.0
watchfiles==1.1.0
mpmath==1.3.0
distro==1.9.0
modelscope==1.30.0
numpy==1.26.4
ptyprocess==0.7.0
nodeenv==1.9.1
msgspec==0.19.0
opentelemetry-proto==1.26.0
nvidia-ml-py==13.580.82
grpcio==1.75.1
llguidance==0.7.30
python-dateutil==2.9.0.post0
nvidia-nvjitlink-cu12==12.4.127
llvmlite==0.44.0
pytz==2025.2
litellm==1.78.0
opencensus==0.11.4
nvidia-cuda-cupti-cu12==12.4.127
lark==1.2.2
pydantic_core==2.41.3
sympy==1.13.1
uvicorn==0.37.0
opencv-python-headless==4.12.0.88
starlette==0.48.0
pure_eval==0.2.3
tomli==2.3.0
networkx==3.4.2
fastapi-cli==0.0.13
typing_extensions==4.15.0
anthropic==0.69.0
hydra-core==1.3.2
PyYAML==6.0.3
matplotlib-inline==0.1.7
frozenlist==1.8.0
pyzmq==27.1.0
compressed-tensors==0.9.3
asciitree==0.3.3
decorator==5.2.1
gguf==0.17.1
packaging==25.0
ml_dtypes==0.5.3
absl-py==2.3.1
fsspec==2025.9.0
google-api-core==2.26.0
openai==2.3.0
tqdm==4.67.1
mathruler==0.1.0
xxhash==3.6.0
Markdown==3.9
Pygments==2.19.2
pip==25.2
xgrammar==0.1.18
nvidia-cusparselt-cu12==0.6.2
smart_open==7.3.1
sentry-sdk==2.41.0
qwen-vl-utils==0.0.14
torchdata==0.11.0
traitlets==5.14.3
pydantic==2.12.1
verl==0.4.1.dev0
numba==0.61.2
ruff==0.14.0
Flask==3.1.2
mdurl==0.1.2
safetensors==0.6.2
executing==2.2.1
decord==0.6.0
zipp==3.23.0
ipython==8.37.0
transformer_engine==2.2.0
transformer_engine_cu12==2.2.0
Pebble==5.1.3
python-json-logger==4.0.0
pluggy==1.6.0
fastrlock==0.8.3
jiter==0.11.0
huggingface-hub==0.35.3
Werkzeug==3.1.3
cuda-pathfinder==1.3.1
cffi==2.0.0
pynvml==13.0.1
cupy-cuda12x==13.6.0
attrs==25.4.0
ray==2.50.0
idna==3.11
asttokens==3.0.0
filelock==3.20.0
airportsdata==20250909
aiohttp-cors==0.8.1
email-validator==2.3.0
certifi==2025.10.5
omegaconf==2.3.0
fastapi-cloud-cli==0.3.1
regex==2025.9.18
verl==0.4.1.dev0
backports.tarfile==1.2.0
typeguard==4.3.0
jaraco.functools==4.0.1
tomli==2.0.1
packaging==24.2
autocommand==2.2.2
typing_extensions==4.12.2
wheel==0.45.1
jaraco.text==3.12.1
importlib_metadata==8.0.0
platformdirs==4.2.2
inflect==7.3.1
jaraco.collections==5.1.0
zipp==3.19.2
more-itertools==10.3.0
jaraco.context==5.3.0
